html
	head
		title DCM Works
		link(rel='stylesheet', href='../css/style.css')
		meta(name='viweport', content='width=device-width, initial-scale=1')
	body
		.viewport
			.header
				.title-bg
				.content
					.title-container
						.title-top Digital & Creative Media Works
						.title-sub serious satire.
			.navbar
				.content
					.left
					.right
			.notice
				.content
			.filler
				.content
					.title 1: Miss Bartlett's Drought
					img
					.text
						p Three raps sounded on my door. I was reading a dusty paperback, reclining in my chair, when the visitor arrived. I glanced at the door, hoping it wasn’t the postman. I didn’t need more power bills; I needed a client. To my pleasant surprise, in stepped an old acquaintance. I’d helped find her Eevee a few months ago. She’d paid my full rate and she wasn’t hard on the eyes, making her one of my favourite clients.
						p “Morning, Mister Hendricks,” she said as she edged inside.
					.text
						p “Miss Bartlett?” She nodded.  “What can I help you with today?” I said with a grin. She sort of hovered, and I realised I was being rude not offering her a seat. I gestured to the chair on the far side of my desk and she perched on it gingerly.
						p I observed her properly for the first time. She wore a deep purple skirt, a sharp blouse and a thin jacket. It was a good look on her early-thirties body, smart yet comfortable. She was about my age but seemed to have retained more youth than my own worn features.
					.text 
						p “So, Miss Bartlett, what can I do for you?” I clicked a pen absently, notepad open.
						p She hesitated and produced a photo from her purse. A snap of a healthy Squirtle, its only noticeable features a scar on its right bicep and a chip in its shell.
						p “That’s the Squirtle from my street, and it went missing two days ago. I called the police but they wouldn’t help, said they were sending a new one, but it hasn’t showed up, and when I called they said they didn’t have the replacement request on file.” I jotted her words down, my brain already ticking over. “So I came to you. I didn’t know what else to do.” She hesitated, then started to say something else, but I raised my finger to stop her.
						p The Squirtle she referred to worked in the substation beneath Miss Bartlett’s street, providing the people living along the street with fresh water. The missing Squirtle wouldn’t be missed by anyone but Miss Bartlett’s neighbours… though that didn’t explain why the police hadn’t helped. I kept making notes and looked up, meeting her concerned gaze.
					.text
						“Continue.” I said simply. She took a deep breath, controlling herself, clearly distressed. While her street would still get water, it would cost them more to draw from the network rather than their own source. Miss Bartlett wasn’t rich by any means. The hike in water price for drawing from the mains was huge. It would hit hard. It made sense she’d come to me.
						p “I wanted to add that I can’t… I can’t pay you your usual commission, Mister Hendricks. I’m just…” Her face fell. I’d always been a better read of Pokémon than people, but she seemed almost ashamed. I really needed money. I couldn’t afford to work less than commission, but she’d come to me. “If you don’t find it, I can’t afford to pay the bills without the…”
						p “I’ll do it for free,” I said, immediately displeased with my mouth for acting on its own.
						p “No please-” She protested, but I silenced her with a sigh.
						p “No charge Miss Bartlett, but might I ask a favour?”
						p “What can I do?”
						p I shrugged, “don’t tell anyone I’m working for free.”
					.text
						p She raised an eyebrow and leaned forward.
						p “If you did,” I explained, sliding a business card across the table to her, “it might ruin my reputation.” Miss Bartlett chuckled, perhaps nervous, perhaps finding me amusing.
					.text
						p I leaned back and ran a hand over my brow, glad I’d drawn a smile from her.
						p “I’ve got your address, so I’ll be by sometime this evening to have a look at the substation.” She breathed a sigh of relief and stood, heading for the door.
						p “Thank you, Mister Hendricks.” I told her she was welcome, though it was going to cost me. I bid her farewell and watched her leave my office.
					.text
						p I stared at the words printed the glass panel of my door. Hendricks: Personal Investigator, Lost and Found Mons. Those words were repeated on my business card, police identification badge and here on the door, a reminder of what I’d become; a glorified collection service.
					.text
						p I turned my mind back to Miss Bartlett, considering what I knew of missing Pokémon of late. Supposedly the gypsies – the Red-folk – had been stealing away children and Pokémon, but I’d taken it for rumour and racism. It had seemed like sensationalism in the news, but when I’d confronted the Pokémon League about it, they’d refused to comment. Whatever the case, I wouldn’t know what was going on until I investigated the site of the Squirtle-naping. I wasn’t convinced Miss Bartlett’s predicament was related to our association, but I wasn’t eager to rule it out. Many people would see harm done to those around me. I had a unique way of pissing people off.
					.text
					.sound
			.footer
				.content
					.left
					.right